<div>
  <div>
    <h1>
      List of all recipes
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Name
        </th>

        <th>
          Image
        </th>

        <th>
          Ingredients
        </th>

        <th>
          Instructions
        </th>

        <th>
          Contributor
        </th>
        <th>
        </th>
      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>
        <td>
          <%= a_recipe.name %>
        </td>

        <td>
          <img src="<%= a_recipe.image %>/preview">
        </td>

        <td>
          <ul>
          <% a_recipe.ingredients.each do |an_ingredient| %>
            <li><%= an_ingredient.material.name %> <% if an_ingredient.measure.class==String %>(<%= an_ingredient.measure %>) <% end %></li>
          <% end %>
          </ul>
        </td>

        <td>
          <%= a_recipe.instructions %>
        </td>

        <td>
          <%= a_recipe.user_id %>
        </td>

        <td>
          <a href="/recipes/<%= a_recipe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
