<div>
  <div>
    <h1>
      List of all recipes
    </h1>
  </div>
</div>

<hr>

<% @list_of_recipes.each do |a_recipe| %>
<div class="card" style="width: 18rem;">
  <img src="<%= a_recipe.image %>/preview" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= a_recipe.name %></h5>
    <p class="card-text"><%= a_recipe.instructions %></p>
    <a href="/recipes/<%= a_recipe.id %>" class="btn btn-primary">Show details</a>
  </div>
    <ul class="list-group list-group-flush">
    <% a_recipe.ingredients.each do |an_ingredient| %>
      <li class="list-group-item"><%= an_ingredient.material.name %> <% if an_ingredient.measure.class==String %>(<%= an_ingredient.measure %>)</li>
      <% end %>
    <% end %>
    </ul>
</div>
<% end %>
