<div>
  <div>
    <h1>
      Purchase #<%= @the_purchase.id %> details
    </h1>

    <div>
      <div>
        <a href="/purchases">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_purchase/<%= @the_purchase.id %>">
          Delete purchase
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_purchase.user_id %>
      </dd>

      <dt>
        Material
      </dt>
      <dd>
        <%= @the_purchase.material_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_purchase.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_purchase.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit purchase
    </h2>

    <form action="/modify_purchase/<%= @the_purchase.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_purchase.user_id %>">
      </div>

      <div>
        <label for="material_id_box">
          Material
        </label>

        <input type="text" id="material_id_box" name="query_material_id" value="<%= @the_purchase.material_id %>">
      </div>

      <button>
        Update purchase
      </button>
    </form>
  </div>
</div>

<hr>
